// colors
$black: #000000;
$white: #ffffff;
$list: #141718;
$orange: #ffab00;
$HeaderBackground: #ffab00a3;
$NEW: #121212;
$ImageBackground: #f3f5f7;
$BlackUnderline: #121212;
// font
$Inter: "Inter", sans-serif;
$Poppins: "Poppins", sans-serif;
$blue: #377dff;
$SecureSubtitle: #6c7275;
$SecureTitle: #141718;
